@{
    ViewBag.Title = "Home Page";
}

<!--<div class="jumbotron">
    <div class="containter">-->
@*<img src="~/Assets/Images/monitor-gc0c28d5bb_1920.jpg" class=" img-responsive" />*@
<!--<h1>St. Petersburg Institute of Technology</h1>
        <p class="lead">Sign up for summer classes now!</p>
        <button class="btn-primary">Sign Up</button>


    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Welcome to St. Petersburg Institute of Technology</h2>
            <p>
                St. Petersburg Institute of Technology was founded in 2005 to help students achieve success in the field of technology. We provide students with a strong educational foundation to start their career.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Degree Programs and Certificates</h2>
            <p>We offer courses and curriculum for both degrees and certificates. Contact us to find out more information and help choosing the right program for you. </p>
        </div>
        <div class="col-md-4">
            <h2>COP2839 ASP.Net with C# Course</h2>
            <p>This project combines ASP.Net, C#, Windows SDK, Entity Framework, .Net Framework, Model View Controller, SQL Server Express and Azure Clouds Services. </p>
        </div>
    </div>
</div>-->
<!-- Hero -->
<div class="p-5 text-center bg-image rounded-3" style=" background-image: url('../Assets/Images/code-image.jpg'); height: 50vh; ">

    <div class="d-flex justify-content-center align-items-center h-100">
        <div class="hero-div">
            <h1 class="hero-h1">
                Welcome to Student and Faculty Page
            </h1>
                <button type="button" class="btn btn-dark btn-lg" onclick="window.location.href = '/Course'">Login</button>
            
        </div>
    </div>



</div>
<!-- Hero align-items-center align-self-center align-middle text-primary -->


<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Bradenton Institute of Technology</h2>
        <p>
            St. Petersburg Institute of Technology was founded in 2005 to help students achieve success in the field of technology. We provide students with a strong educational foundation to start their career.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Degree Programs and Certificates</h2>
        <p>We offer courses and curriculum for both degrees and certificates. Contact us to find out more information and help choosing the right program for you. </p>
    </div>
    <div class="col-md-4">
        <h2>COP2839 ASP.Net with C# Course</h2>
        <p>This project combines ASP.Net, C#, Windows SDK, Entity Framework, .Net Framework, Model View Controller, SQL Server Express and Azure Clouds Services. </p>
    </div>
